{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2"
  ],
  "plugins": [
    ["syntax-async-functions"],
    ["transform-runtime"],
    ["transform-class-properties", { "spec": true }]
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
